.headTitle {
  width: 100%;
  text-align: center;
}
.headTitle > h1 {
  font-size: 42px;
  box-shadow: 3px 6px 19px -5px rgba(0, 0, 0, 0.66);
  margin: 0;
  text-align: center;
  margin-bottom: 20px;
  color: white;
  background-color: black;
  padding: 15px;
}
.addNewColor {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.addNew {
  /* width: 200px; */
  padding: 15px;
  font-size: 26px;
  border: none;
  border-radius: 10px;
  color: rgb(30, 219, 30);
  cursor: pointer;
}
.addNew:hover {
  color: white;
  background-color: rgb(30, 219, 30);
}
